@page
@model Mobishare.WebApp.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container mt-5 text-center">
    <h2>Logout in corso...</h2>
    <p>Verrai reindirizzato alla pagina di login.</p>
</div>